@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- */
*,
html {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* / */
h1,
.question {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 40px;
}

h2 {
    margin-top: 5px;
    color: #5AB6FF;
    font-weight: 200;
    font-size: 20px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
}

h4 {
    margin-top: 10px;
    color: #5AB6FF;
    font-weight: 500;
    font-size: 16px;
}

.question {
    font-size: 20px;
}

.option-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
}

.option {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #5b677d;
    color: white;
}

.option:hover {
    box-shadow: 0px 0px 10px 5px #b8dbfb;
    background-color: #b8dbfb;
    border: 1.5px solid white;
    color: #5b677d;
    padding: 7px 14px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
    /* background: transparent; */
    /* background: #2f3b51; */
    background: #90c9ff;
    box-shadow: 0px 0px 5px 5px#5b677d;
}

.logo-container {
    display: flex;
    flex-grow: .6;
    padding: 0px 60px;
    height: 40px;
    margin: 0px 15px;
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .15s linear;
}

.nav,
.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1.5;
    transition: all .15s linear;
}

.actions {
    flex-grow: .65;
    transition: all .15s linear;
}

.navForm button {
    font-size: 15px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.actions a:hover,
.nav a:hover,
.navForm button:hover {
    color: white
}

/* Main */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    position: relative;
    margin-top: 120px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.3em;
    gap: 10px;
    width: 250px;
    height: auto;
    padding: 15px;
    background-color: #f3f6fb;
    border-radius: 5px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.product-img img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Formularios */
.newForm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    background-color: #e7eaf0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: #e7eaf0;
}

.form input,
.form textarea,
.form select {
    padding: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.form textarea {
    height: 100px;
}

.form button {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1.5px solid #86DAFF;
}

#newForm {
    padding-bottom: 3px;
}

#loginForm,
#registerForm {
    width: 350px;
}

.admin {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#adminId {
    margin: 0px 0px 0px 7px;
}

.warning {
    font-weight: 500;
    text-align: center;
    color: crimson
}

/* Botones */
.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.actions .formBtn {
    width: 20%;
}

.btn,
.formBtn,
.deleteForm {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #5b677d;
}

.form a {
    padding: 12px 0px;
}

.deleteForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #b8dbfb;
}

.deleteBtn {
    padding: 0px;
    border: none;
    color: #393f4b;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

.cancelNew {
    font-size: 14px;
    width: 80%;
    padding: 11.75px;
}

.btn:hover,
.formBtn:hover {
    background-color: #5AB6FF;
}

.deleteForm:hover,
.deleteForm:hover .deleteBtn,
.resetBtn:hover {
    color: white;
    background-color: rgb(230, 36, 75);
}

/* Auth + notFound */
.unauthorized-container,
.notFound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
}

.notFound-container a {
    line-height: normal;
}

.auth-options {
    display: flex;
    margin-top: 20px;
    line-height: normal;
}

.auth-options button {
    cursor: pointer;
}

/* Responsive */
@media (max-width: 800px) {
    .logo-container {
        flex-grow: 0;
        padding: 0px;
        width: 40px;
        background-image: url(/img/miniLogo.png);
        filter: invert();
        transition: all .15s linear;
    }

    .nav,
    .navForm button,
    .actions {
        font-size: 14px;
        transition: all .15s linear;
    }
}

@media (max-width: 570px) {
    .logo-container {
        margin-left: 0px;
        transition: all .15s linear;
    }

    .nav,
    .navForm button,
    .actions {
        font-size: 12px;
        transition: all .15s linear;
    }
}