@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- */
*, html {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* / */
h1,
.question {
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 40px;
}

h2 {
    color: #5AB6FF;
    font-weight: 200;
    font-size: 20px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
}

h4 {
    color: #5AB6FF;
    font-size: 500;
    font-size: 16px;
}

.question {
    font-size: 20px;
}

.option-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

/* /shop/products + /shop/dashboard */
.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #90C9FF;
}

.nav,
.navForm,
.userActions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.userActions {
    flex-grow: 0.75;
}

.navForm button{
    font-size: 15px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    border: .5px solid black;
}

/* Botones */

.btn,
.deleteForm {
    text-align: center;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    background-color: #D9EAF9;
}

.deleteForm {
    padding: 8px;
    background-color: #D9EAF9;
}

.deleteBtn {
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5AB6FF;
}

.deleteForm:hover,
.deleteForm:hover .deleteBtn {
    color: white;
    background-color: rgb(230, 36, 75);
}